<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chatbot</title>
  </head>
  <body>
    {% csrf_token %}
    <h1>{{titleChatbot}}</h1>
    <h2>{{dateChatbot}}</h2>
    <p>{{contentChatbot}}</p>
    <h1>chatbot</h1>

    {% for question in questions %}
    <h2>{{ question.text}}</h2>
    <p>{{ question.answer}}</p>

    <form action="chatbot.html">
      <label for="input"></label>
      <input
        type="text"
        name="formulaire"
        id="formulaire"
        placeholder="Entrez votre question..."
      />
      <button type="submit">Valider</button>
    </form>
    {% endfor %}
  </body>
</html>
